@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Doctors</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Specialization</h2>
        
    </div>
</div>